.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  padding: 1rem 2rem;
  color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

.nav a:hover {
  text-decoration: underline;
}
